# Create beta releases on pushes to develop

name: Beta Release

on:
  push:
    branches:
      - develop

jobs:
  build-and-upload-beta-release:
    uses: ./.github/workflows/_release.yml
    with:
      version: latest
      uploadRelease: true

  build-and-upload-beta-wheels:
    uses: ./.github/workflows/_python-wheels.yml
    with:
      publishToTestPyPI: true
    secrets: inherit
