# Create new stable releases on version spec tagged pushes to main

name: Stable Release

on:
  push:
    tags:
      - "*.*.*"

jobs:
  build-and-upload-stable-release:
    if: github.event.base_ref == 'refs/heads/main'
    uses: ./.github/workflows/_release.yml
    with:
      version: ${{ github.ref_name }}
      uploadRelease: true

  build-and-upload-stable-wheels:
    if: github.event.base_ref == 'refs/heads/main'
    uses: ./.github/workflows/_python-wheels.yml
    with:
      publishToPyPI: true
    secrets: inherit
