name: Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v2
      - uses: goto-bus-stop/setup-zig@v1
        with:
          version: 0.9.1
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run zig test
        run: zig build test
      - name: Ensure mappings are up-to-date
        run: python scripts/generate_mappings.py test
      - name: Install Python dependencies
        working-directory: python
        run: pip install -r requirements-dev.txt
      - name: Run Python Tests
        working-directory: python
        run: tox -e py
