name: Test
on: [push, pull_request]
jobs:
  test-c:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v1
        with:
          version: 0.15.1
      - name: Run zig test
        run: zig build test

  test-python:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Ensure mappings are up-to-date
        run: python scripts/generate_mappings.py test
      - name: Install Python dependencies
        working-directory: python
        run: pip install -r requirements-dev.txt
      - name: Run Python Tests
        working-directory: python
        run: tox -e py
